<form action = "city" method="post">
	<br></br>
	What City?
	<input type="text" name = "input" placeholder="Put your city name here" size='35'>
	<br><br></br></br>
	<br><input type="submit" value="Show the time" style = "margin-left:150px"></br>
</form>